--extra-index-url https://download.pytorch.org/whl/cpu
fastapi[standard]
uvicorn
python-multipart
pydantic
torch
torchvision
opencv-python-headless
numpy
pandas
matplotlib
pillow
fpdf2
google-generativeai
huggingface_hub
libsql-client
